<!-- Content Wrapper -->
<div class="wrapper">
    <!-- ## Full Landing Page / Parallax Effect ## -->
    <div class="page-header clear-filter" filter-color="">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/headers/contact-header.jpg');"></div>
        <div class="container">
            <div class="content-center brand">
                <!-- <img class="n-logo" src="assets/img/now-logo.png" alt=""> -->
                <!-- <i class="logo-main mdi mdi-meteor drop-shadow-sm"></i> -->
                <fa-icon class="logo-main drop-shadow-sm p-3 mb-5"
                         flip="horizontal" 
                         transform="grow-2"
                         [icon]="['fas', 'meteor']"
                         [fixedWidth]="true">
                </fa-icon>
                <!-- <fa-icon class="logo-main drop-shadow-sm text-primary" [icon]="['fas', 'user-astronaut']" transform="grow-2"></fa-icon> -->
                <h1 class="font-weight-semi h1-seo drop-shadow-sm">{{ landingPageTitle | uppercase }}</h1>
                <!-- <div class="divider"></div> -->
                <h3 class="font-weight-light drop-shadow-sm">{{ landingPageSubTitle | uppercase }}</h3>
                <div class="row app-icon-group">
                    <!-- TODO: Finish the group arrow animation -->
                    <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div>
                    <!-- <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div>
                    <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div> -->
                </div>
            </div>
            <!-- <h6 class="category category-absolute">Designed by
                <a href="https://invisionapp.com/" target="_blank">
                    <img src="assets/img/invision-white-slim.png" class="invision-logo" />
                </a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">
                    <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                </a>.
            </h6> -->
        </div>

    </div>

    <div class="main border border-2 border-top border-info">
        <!-- ## Section : Welcome ## -->
        <section class="section-welcome">
            <div class="container">
                <!-- TODO: Add FA layers before intro (icon over / circle)  -->
                <div class="row">
                    <article class="app-article-item col-md-8">
                        <!-- <h1 class="mat-headline">{{ section1Title | uppercase }}</h1> -->
                        <!-- <div class="divider"></div> -->

                        <div class="app-div-item">
                            <!-- TODO: Update Bootstrap to v4.3 to leverage Responsive Font Sizes -->
                            <h3>
                                Hi, I'm James and welcome to my tiny sliver of cyber-space. I'm a <q>Full-Stack</q> Developer located in Tampa, Florida.
                                Creator of Cloud-Based Software &amp; Web Applications serving up Big Data in real-time by way of custom built APIs &amp; Microservices.
                            </h3>
                    
                        </div>
                    
                    </article> 

                    <article class="app-article-item col-md-4">
                        <div class="app-div-item text-primary font-weight-semi flow-text">
                            <p>
                                I have always had a strong passion for creating innovative, yet intuitive real-world solutions that
                                provide a positive impact to it's users &amp; visitors alike.
                            </p>
                            <p>
                                With over 18 years of professional experience, I've worked on projects
                                ranging from small widgets to enterprise-level apps.
                            </p>
                    
                        </div>
                        
                    </article>
            
                </div>

            </div>
            
        </section>

        <div class="separator-grey separator-thin"></div>

        <!-- ## Section : Define "Full-Stack" Development ## -->
        <section class="section-definition">
            <div class="container">
                <article class="app-article-item">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-uppercase text-center">
                                <h3>Define <q>Full-Stack</q> Development</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card card-info">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="/assets/img/full-stack-dev.jpg" class="card-img" alt="Full-Stack Developer">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title mt-0 mb-4">
                                        A progressive approach to software development requiring one to have detailed knowledge of 
                                        the entire Software / Solution Stack.

                                        <!-- Thus being proficient in a variety of languages &amp; frameworks. -->
                                    </h5>
                                    <!-- <div class="separator-grey separator-thin"></div> -->
                                    <p class="card-text">
                                        The term <strong class="text-secondary"><q>Full-Stack</q></strong> refers to the stack of technologies that serves up the  
                                        application. One must be skilled in multiple languages, frameworks, SDK / API - Capable of weaving in / out of the Stack 
                                        while following set standards &amp; best practices. This doesn NOT imply that the developer has mastered <i>everything</i> 
                                        within the overall <abbr title="Software Development Life Cycle">SDLC</abbr>; it DOES imply however, that one has the ability 
                                        to work with the many layers of the Stack with minimal assistance.
                                    </p>
                                    <p class="card-text text-right">
                                        <small class="text-muted">September 2018 - <cite title="Coding Dojo"> codingdojo.com</cite></small>
                                    </p>
                                </div>
    
                            </div>
    
                        </div>
                        
                    </div>
    
                </article>

            </div>

        </section>

        <div class="separator-grey separator-thin"></div>
        
        <!-- ## Section : Inspiring Quotes ## -->
        <section class="section-quotes">

            <div class="page-header clear-filter" filter-color="primary">

            </div>

            <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/headers/contact-header.jpg');"></div>
            <div class="section-image" style="background-image: url('assets/img/headers/contact-header.jpg');"></div>
            <div class="container">
                <div class="row">
                    <article class="app-article-item col-md-8 mx-auto text-center"> 
                        <!-- TODO: Generate quotes.component using code below  -->
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <fa-layers [fixedWidth]="true">
                                    <fa-icon [icon]="['fas', 'circle']"></fa-icon>
                                    <fa-icon [inverse]="true" [icon]="['fas', 'quote-right']" transform="grow-2"></fa-icon>
                                </fa-layers>
                            </div>
                            <div class="card-body">
                                <!-- <h3 class="card-title">Alexa Hailey</h3> -->
                                to change ourselves. Spread love everywhere you go. Let no one ever come to you without leaving happier.
                                <p class="card-description">
                                    "When we are no longer able to change a situation - we are challenged Problems are not stop signs, they are guidelines."
                                </p>
                                
                            </div>
                            <div class="card-footer">
                                <h6 class="category text-primary">Human Resource Director</h6>
                            </div>
                            
                        </div>

                    </article>

                </div>

            </div>
            
            <!-- <div>
                <div class="page-content-card accent">
                    <h1 class="mat-headline">Motivational Fodder:</h1>
                    <p class="mat-body-1">
                        Collaborating with like-minded developers who are as excited about Web Design &amp; Development as I am!
                    </p>
                </div>
            </div> -->

        </section>
        
        <div class="separator-grey separator-thin"></div>

        <!-- ## Technical Overview ## -->
        <section class="section-team text-center">
            <div class="container">
                <!-- <h2 class="title">Technical Skills / Proficiency</h2> -->
                <div class="team">
                    <div class="row">
                        <div class="col-md-12 text-center text-uppercase">
                            <h3>Technical Overview</h3>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <!-- ## Overview 1 ## -->
                        <div class="col-md-3 team-player">
                            <div class="card card-info">
                                <div class="card-header">
                                    <!-- FIXME: Leverage SVG over CSS for all shapes -->
                                    <!-- <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="40"/>
                                    </svg> -->
                                    <div class="bg-d4 mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'tachometer-alt']" transform="up-30"></fa-icon>
                                    <h6 class="title card-title">Performance</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Payload Delivery</p>
                                    <p class="card-text description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 2 ## -->
                        <div class="col-md-3 team-player">
                            <div class="card card-info">
                                <div class="card-header">                                                                                    
                                    <div class="bg-d4-inverted mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'desktop']" transform="up-45"></fa-icon>
                                    <h6 class="title card-title">Progressive</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Responsive Designs</p>
                                    <p class="card-text description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 3 ## -->
                        <div class="col-md-3 team-player">                                
                            <div class="card card-info">
                                <div class="card-header">                                                                                    
                                    <div class="bg-d4 mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'brain']" transform="up-30"></fa-icon>
                                    <h6 class="title card-title">Intuitive</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Modular &amp; Scalable</p>
                                    <p class="card-text description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 4 ## -->
                        <div class="col-md-3 team-player">
                            <div class="card card-info">
                                <div class="card-header">                                                                          
                                    <div class="bg-d4-inverted mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'cogs']" transform="up-45"></fa-icon>
                                    <h6 class="title card-title">Dynamic</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Interactive UI/UX</p>
                                    <p class="card-text description">
                                        You can write here details about one of your team members. You can give more details about what they do. Feel free to add some <a href="#">links</a> for people to be able to follow them outside the site.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <div class="separator-grey separator-thin"></div>

        <!-- Mission Statement Section -->
        <section class="app-section-config app-section-container app-section-two">
            <div class="row">
                <article class="app-article-item">
                    <div class="card card-info">
                        <div class="card-header font-weight-bold">{{ missionTitle | uppercase }}</div>
                        <div class="card-body">
                            <div class="row m-1">
                                <div class="col-md-10">
                                    <blockquote class="m-0">
                                        <p>
                                            <fa-icon [icon]="['fas', 'quote-left']" transform="up-5"></fa-icon>
                                            To establish myself as a valuable asset by writing clean, efficient, yet reusable code to create applications that have a positive impact on its
                                            users while increasing / streamlining productivity within any given industry. Always holding myself and my skill set to a higher standard. Building
                                            out intuitive interfaces by means of the latest industry methods &amp; standards. Never being afraid to acknowledge and learn new up-and-coming
                                            technologies / methodologies that can be applied when creating innovative real world solutions.
                                            <fa-icon [icon]="['fas', 'quote-right']" transform="up-5"></fa-icon>
                                        </p>
                                        
                                        <footer class="blockquote-footer">James Singletary</footer>
                        
                                    </blockquote>  

                                </div>
                                <!-- TODO:: Double up this award icon -->
                                <div class="col-md-2 mt-2 text-secondary">
                                    <fa-icon [icon]="['fas', 'award']" [fixedWidth]="true" size="8x"></fa-icon>
                                </div>

                            </div>
                
                        </div>
                
                    </div>
            
                </article>
                
            </div>

        </section>

    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="http://blog.jamessingletaryiv.com" aria-disabled="true">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/jsingletaryiv/now-ui-kit-portfolio/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed with
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://github.com/jsingletaryiv" target="_blank">James Singletary</a>.
            </div>

        </div>

    </footer>
    
</div>
