<!-- Content Wrapper -->
<div class="wrapper">
    <!-- ## Full Landing Page / Parallax Effect ## -->
    <div class="page-header clear-filter" filter-color="primary">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/headers/contact-header.jpg');"></div>
        <div class="container">
            <div class="content-center brand">
                <!-- <img class="n-logo" src="assets/img/now-logo.png" alt=""> -->
                <!-- <i class="logo-main mdi mdi-meteor drop-shadow-sm"></i> -->
                <fa-icon class="logo-main drop-shadow-sm p-3 mb-5"
                         flip="horizontal" 
                         transform="grow-2"
                         [icon]="['fas', 'meteor']"
                         [fixedWidth]="true">
                </fa-icon>
                <!-- <fa-icon class="logo-main drop-shadow-sm text-primary" [icon]="['fas', 'user-astronaut']" transform="grow-2"></fa-icon> -->
                <h1 class="font-weight-semi h1-seo drop-shadow-sm">{{ landingPageTitle | uppercase }}</h1>
                <!-- <div class="divider"></div> -->
                <h3 class="font-weight-light drop-shadow-sm">{{ landingPageSubTitle | uppercase }}</h3>
                <div class="row app-icon-group">
                    <!-- TODO: Finish the group arrow animation -->
                    <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div>
                    <!-- <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div>
                    <div class="col-md-12 app-icon-blink app-icon-motion">
                        <fa-icon class="light-primary" [icon]="['fas', 'angle-down']" size="lg"></fa-icon> 
                    </div> -->
                </div>
            </div>
            <!-- <h6 class="category category-absolute">Designed by
                <a href="https://invisionapp.com/" target="_blank">
                    <img src="assets/img/invision-white-slim.png" class="invision-logo" />
                </a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">
                    <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo" />
                </a>.
            </h6> -->
        </div>

    </div>

    <div class="main border-top border-2 border-info">
        <!-- ## Section : Welcome ## -->
        <section class="section-welcome section-down-arrow">
            <div class="container">
                <!-- TODO: Add FA layers before intro (icon over / circle)  -->
                <div class="row">
                    <article class="app-article-item col-md-8">
                        <!-- <h1 class="mat-headline">{{ section1Title | uppercase }}</h1> -->
                        <!-- <div class="divider"></div> -->

                        <div class="app-div-item text-justify">
                            <!-- TODO: Update Bootstrap to v4.3 to leverage Responsive Font Sizes -->
                            <h3 class="text-right">
                                Hi, I'm James and welcome to my tiny sliver of cyber-space. I'm a <q>Full-Stack</q> Developer located in Tampa, Florida.
                                Creator of Cloud-Based Software and Web Applications - Serving up Big Data on the fly by way of custom built APIs &amp; Microservices
                            </h3>
                    
                        </div>
                    
                    </article> 

                    <article class="app-article-item col-md-4">
                        <div class="app-div-item text-primary font-weight-light flow-text">
                            <p>
                                I have always had a strong passion for creating innovative, yet intuitive real-world solutions that
                                provide a positive impact to it's users &amp; visitors alike.
                            </p>
                            <p>
                                With over 18 years of professional experience, I've worked on projects
                                ranging from small widgets to enterprise-level apps.
                            </p>
                    
                        </div>
                        
                    </article>
            
                </div>

            </div>
            
        </section>

        <!-- <div class="separator-grey separator-thin"></div> -->

        <!-- ## Section : Defining "Full-Stack" Development ## -->
        <section class="section-definition bg-light">
            <div class="container">
                <article class="app-article-item">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-uppercase text-center section-title">
                                <h3 class="title">Defining <q>Full-Stack</q> Development</h3>
                            </div>
                            <div class="col-md-8 mx-auto section-description">
                                <h5 class="description">
                                    A progressive approach to software development requiring one to have detailed knowledge of 
                                    the entire Software / Solution Stack. Requiring proficiency in a variety of languages &amp; frameworks.
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card card-info">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/img/full-stack-dev.jpg" class="card-img img-fluid" alt="Full-Stack Developer">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title mt-0 mb-4 text-justify">
                                        A Full-Stack Developer can provide much needed experience along with an extended skill-set that can be configured 
                                        to best fit the requirements of any project.  
                                    </h5>
                                    <!-- <div class="separator-grey separator-thin"></div> -->
                                    <p class="card-text text-justify">
                                        The term <strong class="text-dark"><q>Full-Stack</q></strong> refers to the stack of technologies that serves up the  
                                        application. One must be skilled in multiple languages, frameworks, SDK / API - Capable of weaving in / out of the Stack 
                                        while following set standards &amp; best practices. This doesn NOT imply that the developer has mastered <i>everything</i> 
                                        within the overall <abbr title="Software Development Life Cycle">SDLC</abbr>; it <strong class="text-dark">DOES</strong> 
                                        imply however, that one has the ability to work with the many layers of the Stack with minimal assistance.
                                    </p>
                                    <p class="card-text text-right">
                                        <small class="text-muted">September 2018 - <cite title="Coding Dojo"> codingdojo.com</cite></small>
                                    </p>
                                </div>
    
                            </div>
    
                        </div>
                        
                    </div>
    
                </article>
                
                <!-- <div class="separator-grey separator-thin"></div> -->

                <article class="app-article-item">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-uppercase text-center section-title">
                                <h3 class="title">Overview // Daily Technologies</h3>
                            </div>
                            <div class="col-md-8 mx-auto section-description">
                                <h5 class="description">
                                    The technologies chosen for any software stack can vary based on a number of factors.
                                    By highlighting each of the main areas / stages of <i>Full-Stack Development</i> - The 
                                    following is a comprised listing of the various technologies I work with everyday!
                                </h5>

                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <!-- ## Categories - Row 1 ## -->
                        <div class="col-md-6">
                            <div class="card card-technologies card-raised" data-background-color="black">
                                <div class="card-body d-flex">
                                    <div class="flex-column justify-content-center">
                                        <div class="flex-row align-items-baseline justify-content-center">
                                            <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm"></fa-icon>
                                            <h6 class="category">&nbsp;Technical</h6>
                                        </div>
                                        <div class="py-3">
                                            <fa-icon [inverse]="true" [icon]="['fas', 'laptop-code']" size="5x"></fa-icon>
                                        </div>
                                        <h3 class="card-title text-uppercase font-weight-semi">Front-End</h3>
                                    </div>
                                    <div class="flex-column">
                                        <ul>
                                            <li>HTML5 / Markup</li>
                                            <li>CSS3 / SaSS / SVG</li>
                                            <li>JavaScript / ES2015+</li>
                                            <li>Angular / React / Vue</li>
                                        </ul>
                                        <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-technologies card-raised" data-background-color="black">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-baseline justify-content-center">
                                        <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm">
                                        </fa-icon>
                                        <h6 class="category">&nbsp;Technical</h6>
                                    </div>
                                    <div class="py-3">
                                        <fa-icon [inverse]="true" [icon]="['fas', 'server']" size="5x"></fa-icon>
                                    </div>
                                    <h3 class="card-title text-uppercase font-weight-semi">Back-End</h3>
                                    <ul>
                                        <li>HTML5 / CSS3</li>
                                        <li>UnLimited Support</li>
                                        <li>Unlimited Downloads</li>
                                        <li>Full cloud access</li>
                                    </ul>
                                    <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                </div>
                            </div>
                        </div>
                        <!-- ## Categories - Row 2 ## -->
                        <div class="col-md-6">
                            <div class="card card-technologies card-raised" data-background-color="red">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-baseline justify-content-center">
                                        <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm">
                                        </fa-icon>
                                        <h6 class="category">&nbsp;Technical</h6>
                                    </div>
                                    <div class="py-3">
                                        <fa-icon [inverse]="true" [icon]="['fas', 'database']" size="5x"></fa-icon>
                                    </div>
                                    <h3 class="card-title text-uppercase font-weight-semi">Database</h3>
                                    <ul>
                                        <li>HTML5 / CSS3</li>
                                        <li>UnLimited Support</li>
                                        <li>Unlimited Downloads</li>
                                        <li>Full cloud access</li>
                                    </ul>
                                    <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-technologies card-raised" data-background-color="red">
                                    <div class="card-body">
                                        <div class="d-flex flex-row align-items-baseline justify-content-center">
                                            <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm">
                                            </fa-icon>
                                            <h6 class="category">&nbsp;Technical</h6>
                                        </div>
                                        <div class="py-3">
                                            <fa-icon [inverse]="true" [icon]="['fas', 'sync-alt']" [spin]="true" size="5x"></fa-icon>
                                        </div>
                                        <h3 class="card-title text-uppercase font-weight-semi">DevOps</h3>
                                        <ul>
                                            <li>HTML5 / CSS3</li>
                                            <li>UnLimited Support</li>
                                            <li>Unlimited Downloads</li>
                                            <li>Full cloud access</li>
                                        </ul>
                                        <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ## Categories - Row 3 ## -->
                        <div class="col-md-6">
                            <div class="card card-technologies card-raised" data-background-color="yellow">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-baseline justify-content-center">
                                        <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm">
                                        </fa-icon>
                                        <h6 class="category">&nbsp;Technical</h6>
                                    </div>
                                    <div class="py-3">
                                        <fa-icon [inverse]="true" [icon]="['fas', 'code-branch']" size="5x"></fa-icon>
                                    </div>
                                    <h3 class="card-title text-uppercase font-weight-semi">Version Control</h3>
                                    <ul>
                                        <li>HTML5 / CSS3</li>
                                        <li>UnLimited Support</li>
                                        <li>Unlimited Downloads</li>
                                        <li>Full cloud access</li>
                                    </ul>
                                    <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-technologies card-raised" data-background-color="yellow">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-baseline justify-content-center">
                                        <fa-icon [icon]="['fas', 'layer-group']" [fixedWidth]="true" size="sm">
                                        </fa-icon>
                                        <h6 class="category">&nbsp;Functional</h6>
                                    </div>
                                    <div class="py-3">
                                        <fa-icon [inverse]="true" [icon]="['fas', 'tasks']" size="5x"></fa-icon>
                                    </div>
                                    <h3 class="card-title text-uppercase font-weight-semi">Project Management</h3>
                                    <ul>
                                        <li>Azure DevOps (VSTS)</li>
                                        <li>Unlimited Downloads</li>
                                        <li>Full cloud access</li>
                                    </ul>
                                    <a class="btn btn-simple btn-round" href="#pablo"> More </a>
                                </div>

                            </div>

                        </div>
                        
                    </div>

                </article>

            </div>

        </section>
        
        <!-- ## Technical Focus / Overview ## -->
        <section class="section-technical-focus text-center border-top border-2 border-info">
            <div class="section-technical-focus-image" style="background-image: url('assets/img/headers/sandbox-header.jpg');"></div>
            <div class="container">
                <!-- <h2 class="title">Technical Skills / Proficiency</h2> -->
                <div class="technical-focus">
                    <div class="row technical-focus-title">
                        <div class="col-md-12">
                            <div class="text-uppercase text-center section-title">
                                <h3 class="title">Overview // Technical Focus</h3>
                            </div>
                            <div class="col-md-8 mx-auto section-description">
                                <h5 class="description">
                                    It's safe to say that no two applications are alike. So when approaching any new project, expect a specific set of requirements
                                    and dependencies. Keeping that in mind, I consider the following four arenas as critical pillars when <i>forging concepts into creation!</i>                                 </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ## Overview 1 ## -->
                        <div class="col-md-3 technical-focus-item">
                            <div class="card card-info">
                                <div class="card-header">
                                    <!-- FIXME: Leverage SVG over CSS for all shapes -->
                                    <!-- <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50" cy="50" r="40"/>
                                    </svg> -->
                                    <div class="bg-d4 mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'tachometer-alt']" transform="up-30"></fa-icon>
                                    <h6 class="title card-title">Performance</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Payload Speeds</p>
                                    <p class="card-text description">
                                        Fast &amp; efficent delivery of your cloud / web-based application is always a top priority - 
                                        As well as maintaining a latencey-free user experience once delivery / loading has completed.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 2 ## -->
                        <div class="col-md-3 technical-focus-item">
                            <div class="card card-info">
                                <div class="card-header">                                                                                    
                                    <div class="bg-d4-inverted mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'desktop']" transform="up-45"></fa-icon>
                                    <h6 class="title card-title">Progressive</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Responsive Designs</p>
                                    <p class="card-text description">
                                        Creating a fully responsive user-interface <span class="text-primary text-weight-bold">(UI)</span> that will scale gracefully across any device / platform - 
                                        With emphasis on leveraging the latest frameworks / libraries for scaffolding &amp; overall styling.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#pablo" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 3 ## -->
                        <div class="col-md-3 technical-focus-item">                                
                            <div class="card card-info">
                                <div class="card-header">                                                                                    
                                    <div class="bg-d4 mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'brain']" transform="up-30"></fa-icon>
                                    <h6 class="title card-title">Intuitive</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Modular &amp; Scalable</p>
                                    <p class="card-text description">
                                        Putting thought into every element to ensure the best user-experience (UX) possible.
                                        All the while building a component driven experience that will scale seamlessly with your business needs. 
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-primary btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>

                                </div>

                            </div>

                        </div>
                        <!-- ## Overview 4 ## -->
                        <div class="col-md-3 technical-focus-item">
                            <div class="card card-info">
                                <div class="card-header">                                                                          
                                    <div class="bg-d4-inverted mx-auto"></div>
                                    <fa-icon class="stacked" [inverse]="true" [icon]="['fas', 'cogs']" transform="up-45"></fa-icon>
                                    <h6 class="title card-title">Dynamic</h6>
                                </div>
                                <div class="card-body">
                                    <p class="category text-primary">Interactive UI/UX</p>
                                    <p class="card-text description">
                                        Having a clean interface doesn't mean that it has to be <i>static</i> and boring - 
                                        Adding in purposeful interactions and finding creative ways to display &amp; show-off your data is one of my strengths.
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'facebook-square']" size="lg"></fa-icon>
                                    </a>
                                    <a href="#" class="btn btn-accent btn-icon btn-round">
                                        <fa-icon [icon]="['fab', 'linkedin-in']" size="lg"></fa-icon>
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <div class="separator-grey separator-thin"></div>
        
        <!-- ## Section : Inspiring Quotes ## -->
        <section class="section-quotes">
            <!-- <div class="section-quotes-image rellax-quotes" data-rellax-speed="-5" data-rellax-percentage="0.5" style="background-image: url('assets/img/headers/sandbox-header.jpg');"></div> -->
            <!-- <div class="section-quotes-image" style="background-image: url('assets/img/headers/sandbox-header.jpg');"></div> -->
            <div class="section-title text-uppercase text-center">
                <h3>Jack of All Trades...</h3>
            </div>
            <div class="container">
                <div class="row">
                    <article class="col-md-8 mx-auto"> 
                        <!-- TODO: Generate `quotes.component` using code below  -->
                        <div class="card card-testimonial">
                            <div class="card-avatar">
                                <fa-layers [fixedWidth]="true">
                                    <fa-icon [icon]="['fas', 'circle']" transform="grow-2"></fa-icon>
                                    <fa-icon [inverse]="true" [icon]="['fas', 'quote-right']" transform="grow-2"></fa-icon>
                                </fa-layers>
                            </div>
                            <div class="card-header font-weight-bold">{{ sectionQuotesTitle | uppercase }}</div>
                            <div class="card-body">
                                <h3 class="card-title">Jack of All Trades...</h3>
                                <p class="card-description">
                                    <q>I’m not a jack of all trades; I’m a master of <i>many</i>. I don’t feel there is anything I can’t do if I want to.</q>
                                </p>
                                
                            </div>
                            <div class="card-footer">
                                <h6 class="category text-primary">- Evel Knievel</h6>                                                                                                       
                            </div>                          
                            
                        </div>

                    </article>

                </div>

            </div>
            
            <!-- <div>
                <div class="page-content-card accent">
                    <h1 class="mat-headline">Motivational Fodder:</h1>
                    <p class="mat-body-1">
                        Collaborating with like-minded developers who are as excited about Web Design &amp; Development as I am!
                    </p>
                </div>
            </div> -->

        </section>

        <div class="separator-grey separator-thin"></div>

        <!-- Mission Statement Section -->
        <section class="app-section-config app-section-container app-section-two">
            <div class="row">
                <article class="app-article-item">
                    <div class="card card-info">
                        <div class="card-header font-weight-bold">{{ missionTitle | uppercase }}</div>
                        <div class="card-body">
                            <div class="row m-1">
                                <div class="col-md-10">
                                    <blockquote class="m-0">
                                        <p>
                                            <fa-icon [icon]="['fas', 'quote-left']" transform="up-5"></fa-icon>
                                            To establish myself as a valuable asset by writing clean, efficient, yet reusable code to create applications that have a positive impact on its
                                            users while increasing / streamlining productivity within any given industry. Always holding myself and my skill set to a higher standard. Building
                                            out intuitive interfaces by means of the latest industry methods &amp; standards. Never being afraid to acknowledge and learn new up-and-coming
                                            technologies / methodologies that can be applied when creating innovative real world solutions.
                                            <fa-icon [icon]="['fas', 'quote-right']" transform="up-5"></fa-icon>
                                        </p>
                                        
                                        <footer class="blockquote-footer">James Singletary</footer>
                        
                                    </blockquote>  

                                </div>
                                <!-- TODO:: Double up this award icon -->
                                <div class="col-md-2 mt-2 text-secondary">
                                    <fa-icon [icon]="['fas', 'award']" [fixedWidth]="true" size="8x"></fa-icon>
                                </div>

                            </div>
                
                        </div>
                
                    </div>
            
                </article>
                
            </div>

        </section>

    </div>

    <footer class="footer" data-background-color="black">
        <div class="container">
            <nav>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Analysis
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="http://blog.jamessingletaryiv.com" aria-disabled="true">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/jsingletaryiv/now-ui-kit-portfolio/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed with
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://github.com/jsingletaryiv" target="_blank">James Singletary</a>.
            </div>

        </div>

    </footer>
    
</div>
