// Overrides Styles
.navbar {
    .navbar-brand {
        // TODO: Update value with `$mono-space-family` variable
        // font-family: 'Roboto Mono', monospace;
        // font-family: 'Cute Font', cursive;

        font-weight: regular;
        font-size: 1.5em;
    
        // text-transform: uppercase;
        padding: 0.5rem;
        line-height: 0.5rem;
    }

    .dropdown-menu .dropdown-item {
        .current-status {
            &.status-green {
                color: limegreen;
            }
            &.status-yellow {
                color: yellow;
            }
            &.status-red {
                color: crimson;
            }
        }
    }
}
