<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500" role="navigation">
    <div class="container">
        <div class="navbar-translate">
            <a id="appNavbarLogo" class="app-navbar-logo">
                <div>
                    <div class="navbar-brand">
                        <!-- <fa-icon [icon]="['fas', 'terminal']" size="xs"></fa-icon> -->
                        <!-- <i class="n-logo mdi mdi-meteor"></i> -->
                        <span class="navbar-brand-icon">
                            <fa-icon class="logo-main pr-2" [icon]="['fab', 'js-square']" transform="grow-12"></fa-icon>
                        </span>               
                        <span class="text-lowercase"> {{ navbarTitle | lowercase }} </span>
                    </div>

                </div> 

            </a>
            <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarToggler" 
                                                          aria-controls="navbarTogglerDemo02" aria-expanded="false" 
                                                          aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
                
            </button>

        </div>
        <div class="collapse navbar-collapse" data-color="primary">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="." fragment="welcome">
                        <p>Welcome</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="." fragment="define">
                        <p>Full-Stack</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="." fragment="overview">
                        <p>Overview</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="." fragment="projects">
                        <p>Projects</p>
                    </a>  
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="dropdown">
                        <!-- FIXME: Cursor for dropdown btn does not change to pointer on `mouseover` event -->
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle>
                            <!-- <fa-icon [icon]="['fas', 'link']" size="lg"></fa-icon> -->
                            <!-- <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon> -->
                            WhoAmI
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu x-placement="bottom">
                            <a class="dropdown-header"><fa-icon [icon]="['fas', 'terminal']" size="lg" [fixedWidth]="true"></fa-icon>&nbsp; jsingletaryiv</a>
                            <a class="dropdown-item" routerLink="." fragment="about"><fa-icon [icon]="['fas', 'id-badge']" size="lg" [fixedWidth]="true"></fa-icon> Background Info</a> 
                            <a class="dropdown-item" routerLink="." fragment="skills"><fa-icon [icon]="['fas', 'tools']" size="lg" [fixedWidth]="true"></fa-icon> Technical Skills</a>
                            <a class="dropdown-item" href="assets/resume/jsingletary-resume-uiux-2019.docx"><fa-icon [icon]="['fas', 'file-download']" size="lg" [fixedWidth]="true"></fa-icon> Download Résumé</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                <span class="current-status status-green">
                                    <fa-icon [icon]="['fas', 'circle']" size="lg" [fixedWidth]="true"></fa-icon>
                                </span>
                                Current Status
                            </a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">One more separated link</a> -->
                        </div>
                      
                    </div>

                </li>

            </ul>

        </div>

    </div>

</nav>
