.card {
    border: 0;
    border-radius: $border-radius-small;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);

    .card-body {
        min-height: 200px;
    }

    // ## Background Colors ## //
    &[data-background-color="primary"] {
        background-color: $primary-color;
    }

    &[data-background-color="accent"] {
        background-color: $accent-color;
    }

    &[data-background-color="danger"] {
        background-color: $danger-color;
    }

    &[data-background-color="content: '\e879';"] {
        background-color: $warning-color;
    }

    &[data-background-color="info"] {
        background-color: $info-color;
    }

    &[data-background-color="success"] {
        background-color: $success-color;
    }

    &[data-background-color="black"]{
        background-color: $black-bg;
    }

    &[data-background-color="white"]{
        background-color: $white-bg;
    }

    // ## Font Color ## //
    &[data-background-color]:not([data-background-color="gray"]) {
        color: #fff;
    }
 
    .card-img {
        border-radius: 0;
    }
}

.card-info {
    border: 0;
    // border-radius: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: none;
    background-color: $white-bg;
    background-clip: border-box;
    margin: 0 auto;
    
    .header {
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px 0;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        // background-color: $white-bg;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-title {
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: $font-size-large;
        font-weight: $font-weight-semi;
    }

    .card-body {
        padding: 1rem 1rem 0;
        min-height: 225px;
    }  

    .header-text-divider {
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
        border-top: 1px solid #e9ecef;
    }

    .text-divider {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .full-stack-img {
        position: relative;
        // -webkit-filter: hue-rotate(90deg);
        // filter: hue-rotate(90deg);
    }

    .checkbox {
        margin-top: 20px;

        label {
            margin-left: 17px;
        }
        .checkbox-material {
            padding-right: 12px;
        }
    }

    .social-line {
        margin-top: 20px;
        text-align: center;

        .btn.btn-icon,
        .btn.btn-icon .btn-icon -mini {
            margin-left: 5px;
            margin-right: 5px;
            box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .footer {
        margin-bottom: 10px;
        margin-top: 24px;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: $white-bg;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    // TODO: Remove `data-background-color` styles after `.card` class is updated
    &[data-background-color="primary"] {
        background-color: $primary-color;
    }

    &[data-background-color="accent"] {
        background-color: $accent-color;
    }

    &[data-background-color="danger"] {
        background-color: $danger-color;
    }

    &[data-background-color="content: '\e879';"] {
        background-color: $warning-color;
    }

    &[data-background-color="info"] {
        background-color: $info-color;
    }

    &[data-background-color="success"] {
        background-color: $success-color;
    }
}

// ## Pending Deletion ## //
.card-signup {
    max-width: 350px;
    margin: 0 auto;

    .header{
        margin-left: 20px;
        margin-right: 20px;
        padding: 30px 0;
    }
    .header-text-divider {
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
        border-top: 1px solid #e9ecef;
      }
    .text-divider{
        margin-top: 30px;
        margin-bottom: 0px;
        text-align: center;
    }
    .card-body{
        padding-top: 0px;
        padding-bottom: 0px;
        min-height: auto;
    }

    .checkbox{
        margin-top: 20px;

        label{
            margin-left: 17px;
        }
        .checkbox-material{
            padding-right: 12px;
        }
    }

    .social-line{
        margin-top: 20px;
        text-align: center;

        .btn.btn-icon ,
        .btn.btn-icon .btn-icon -mini{
            margin-left: 5px;
            margin-right: 5px;
            box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .footer{
        margin-bottom: 10px;
        margin-top: 24px;
    }
}

// ## Pending Deletion ## //
.card-plain {
    background: transparent;
    box-shadow: none;

    .header{
        margin-left: 0;
        margin-right: 0;
    }

    .content{
        padding-left: 0;
        padding-right: 0;
    }
}

.card-technologies {
    margin: 0 .75rem;

    ul {
        list-style: none;
        padding: 0;
        // margin: 5px auto;

        > li {
            // color: #fff;
            text-align: center;
            padding: 12px 0;
            border-bottom: 1px solid rgba(136,136,136,.3);
        }
    }

    .card-body {
        padding: 1rem;
    }

    .icon {
        padding: 10px 0 0;
    }
}

.card-testimonial {
    border: 0;
    border-radius: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: none;
    background-color: $white-bg;
    background-clip: border-box;
    margin: 0 auto;

    .card-avatar {
        max-width: 100px;
        max-height: 100px;
        margin-top: -50px;
    }
    
    .header {
        margin-left: 20px;
        margin-right: 20px;
        padding: 5px 0;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: $white-bg;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-title{
        margin-bottom: 0;
        margin-top: 1rem;
        font-size: $font-size-large;
    }

    .card-body{
        padding: 1rem;
        min-height: auto;
    }  
      
    .header-text-divider {
        height: 0;
        margin: 0.5rem 0;
        overflow: hidden;
        border-top: 1px solid #e9ecef;
    }

    .text-divider{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .checkbox{
        margin-top: 20px;

        label{
            margin-left: 17px;
        }
        .checkbox-material{
            padding-right: 12px;
        }
    }

    .social-line{
        margin-top: 20px;
        text-align: center;

        .btn.btn-icon,
        .btn.btn-icon .btn-icon -mini{
            margin-left: 5px;
            margin-right: 5px;
            box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
        }
    }

    .footer{
        margin-bottom: 10px;
        margin-top: 24px;
    }

    .card-footer {
        padding: 0.75rem 1.25rem;
        background-color: $white-bg;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    // TODO: Remove `data-background-color` styles after `.card` class is updated
    &[data-background-color="primary"] {
        background-color: $primary-color;
    }

    &[data-background-color="accent"] {
        background-color: $accent-color;
    }

    &[data-background-color="danger"] {
        background-color: $danger-color;
    }

    &[data-background-color="content: '\e879';"] {
        background-color: $warning-color;
    }

    &[data-background-color="info"] {
        background-color: $info-color;
    }

    &[data-background-color="success"] {
        background-color: $success-color;
    }
}

// Card Utilities
// NOTE: Could these be imported as @mixins?
.card-shadow {
    border: none;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.card-border {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
