// Import Variables for Overrides
@import "./now-ui-kit/variables";

// Disable / Enable Bootstrap Options
// ## Options are located in Bootstrap `_variables`partial ## //

// ## Variable Overrides ## //
$info-color: rgb(44, 168, 255);
$text-dark-grey: rgb(53, 53, 53);
$text-light: rgb(248, 249, 250);
$text-green: rgb(35, 205, 25);

// ## App / Layout Overrides ## //
.overview-page {

    // ## Smooth Scrolling ## //
    // scroll-behavior: smooth;
    
    .page-header {
        .logo-main {
            font-size: 1.5rem;
        }
    }

    // [data-background-color]:not([data-background-color="gray"]) {
    //     color: #fff;
    // }
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-accent {
    border-color: $accent-color !important;
}

.blockquote{
    border-left: none;
    border: 1px solid $default-color;
    padding: 20px;
    font-size: $font-size-blockquote;
    line-height: 1.8;

    small{
        color: $default-color;
        font-size: $font-size-small;
        text-transform: uppercase;
    }

    &.blockquote-green{
        border-color: $text-green;
        color: $text-green;

        small{
            color: $text-light;
        }
    }
}

.separator{
    height: 1px;
    width: 100%;
    background-color: rgba($default-color, .3);
    margin: 20px auto;

    &.separator-green{
        background-color: rgba($text-green, .3);
    }
}

// ## Typography Class / Overrides ## //
.h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 600;
}

.text-light-grey {
    color: $light-gray;
}

.text-medium-grey {
    color: $dark-gray;
}

.text-dark-grey {
    color: $text-dark-grey;
}

.text-green {
    color: $text-green;
}

.font-weight-light,
.font-weight-light p,
.font-weight-light span  {
    font-weight: $font-weight-light;
}

.font-weight-semi,
.font-weight-semi p,
.font-weight-semi span  {
    font-weight: $font-weight-semi;
}

// ## Card Overrides ## //
.card {
    flex-direction: column;
    // max-width: 300px;
    word-wrap: break-word;
    // background-color: #fff;
    background-clip: border-box;

    &.card-technologies {
        // text-align: center;
        position: relative;

        &.zoom {
            // Animation type / length
            transition: transform .2s;
            pointer-events: auto;
        }

        &.zoom:hover {
            background-color: $info-color;
            transform: scale(1.05);
            will-change: transform;
        }

        li {
            border-bottom-color: rgba(255, 255, 255, .3);
        }
    }

    &.card-raised {
        // box-shadow: 0 20px 50px 0 rgba(0,0,0,.3);
        box-shadow: 0px 2px 12px 5px rgba(0,0,0,0.3);
    }

    .category {
        text-transform: uppercase;
        font-weight: $font-weight-normal;
        font-size: .75rem;
        color: rgb(230, 230, 230);
    }

    .card-title {
        margin-bottom: .25rem;
    }

    .card-description,
    .description,
    .footer-big p{
        color: $text-dark-grey;
        // font-size: $font-size-base;
        font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
        font-weight: $font-weight-light;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
}

// ## Section Overrides ## //
section, .section {
    padding: 5rem 0;
    position: relative;
    background: $white-bg;
    // z-index: 1;

    article { 
        width: 100%;
        padding-bottom: 2rem; 
    }

    fa-icon {
        // color: #fff;

        &.stacked {
            position: absolute;
            font-size: 4rem;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }

    // ## Section Header Elements ## //
    &.section-header {
        // ## Header Image ## //
        .section-header-image {
            position: absolute;
            background-size: cover;
            background-position: center 780px;
            width: 100%;
            height: 650px;
            z-index: 0;

            & + .category {
                padding-top: 15px;
            }
        }
        // ## Header Icons ## //
        .section-header-icon {
            padding: 1rem 0 2rem;
        }   
    }

    .row + .category {
        margin-top: $margin-base-vertical;
    }

    .category,
    .section-description {
        // color: $font;
        text-align: center;

        h5.description {
            width: 100%;
            margin: 1rem auto 2rem;
            color: $accent-color;
            font-weight: $font-weight-semi;
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
    }

    // ## Background Colors ## //
    &[data-background-color="primary"] {
        background-color: $primary-color;
    }

    &[data-background-color="accent"] {
        background-color: $accent-color;
    }

    &[data-background-color="danger"] {
        background-color: $danger-color;
    }

    &[data-background-color="content: '\e879';"] {
        background-color: $warning-color;
    }

    &[data-background-color="info"] {
        background-color: $info-color;
    }

    &[data-background-color="success"] {
        background-color: $success-color;
    }

    &[data-background-color="light"] {
        background-color: $light-bg;
    }

    &[data-background-color="dark"] {
        background-color: $dark-bg;
    }

    &[data-background-color="smoke"] {
        background-color: $smoke-bg;
    }

    &[data-background-color="white"] {
        background-color: $white-bg;
        color: $text-dark-grey;
    }

    &[data-background-color="black"] {
        background-color: $black-bg;
        color: $text-light;
    }
}

// ## Section - Welcome ## //
.section-welcome {
    // position: relative;

    article { 
        padding-bottom: 0; 
    }

    &.section-down-arrow:after {
        left: auto;
        right: 5%;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $white-bg 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }
}

// ## Section - Defining Full-Stack Development ## //
.section-definition {
    // position: static;
    padding: 0 0 5rem 0;

    &.section-down-arrow:after {
        left: 6%;
        right: auto;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $accent-color 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }

    &.section-header {
        // ## Header Image ## //
        .section-header-image {
            position: absolute;
            background-size: cover;
            background-position: center -2vh;
            width: 100%;
            height: 100%;
            z-index: 0;

            // mask-image: linear-gradient(black, white, transparent);
            // -webkit-mask-image: linear-gradient(black, white, transparent);
        }

        // ## Header Icon ## //
        .section-header-icon {
            padding: 6rem 0 2rem 0;
        }
    }

    article {
        padding-bottom: 2rem;
    }

    // &[filter-color="accent"] {
    //     @include linear-gradient-deg(-35deg, rgba($black-color,.3), rgba($accent-color,.5));
    // }
}

// ## Section - Overviews ## //
.section-overviews {
    &.section-down-arrow:after {
        left: auto;
        right: 6%;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $white-bg 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }

    article .card-technologies-group {
        // position: relative;
        padding-bottom: 1rem;
        width: 100%;
    }
}

// ## Section - Technical Focus ## //
.section-technical-focus {
    padding: 0 0 5rem 0;
    // margin: 0 0 42vh 0;

    // color: $white-color;
    // position: relative;
    // ## Section Header Elements ## //
    &.section-header {
        // ## Header Image ## //
        .section-header-image {
            position: absolute;
            background-size: cover;
            background-position: center -15vh;
            width: 100%;
            height: 90%;
            z-index: 0;

            // mask-image: linear-gradient(black, white, transparent);
            // -webkit-mask-image: linear-gradient(black, white, transparent);
        }

        // ## Header Icon ## //
        .section-header-icon {
            padding: 6rem 0 2rem 0;
        }
    }

    .technical-focus {
        position: relative;

        // .technical-focus-title {
        //     margin: -100px 0 100px 0;
        // }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .container-fluid {
        height: 100%;
        z-index: 2;
        text-align: center;
        position: relative;
        // padding-top: 8%;

        // ## Technical Focus Cards ## //
        .technical-focus-item {
            padding: 1rem;

            &.toggle-card {
                pointer-events: auto;
                transition: all .2s ease-in;
            }

            &.toggle-card:hover {
                transform: translateY(-2vh);  
                will-change: transform;
            }

            .card {
                &.card-info {
                    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
                    background-color: rgba(255, 255, 255, .6);

                    .card-avatar {
                        max-width: 100px;
                        max-height: 100px;
                        margin-top: -50px;
                    }

                    .card-header {
                        padding: 1.25rem 0.75rem 0.75rem 0.75rem;
                        // background-color: rgba(255, 255, 255, .8);
                    }

                    .card-body {
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }

    // &:after,
    // &:before{
    //     position: absolute;
    //     z-index: -1;
    //     width: 100%;
    //     height: 100%;
    //     display: block;
    //     left: 0;
    //     top: 0;
    //     content: "";
    // }

    // &:before {
    //     background-color: rgba(0,0,0,.5);
    // }

    &[filter-color="orange"] {
        background-image: linear-gradient(rgba($black-color,.2), rgba(224, 23, 3, .6));
    }

    &[filter-color="primary"] {
        background-image: linear-gradient-deg(-35deg, rgba($black-color,.5), rgba($primary-color,.3));
    }

    &[filter-color="info"] {
        background-image: linear-gradient-deg(-35deg, rgba($black-color,.3), rgba($info-color,.5));
    }

    &.section-down-arrow:after {
        left: 6%;
        right: auto;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $primary-color 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }
}

// ## Section - About ## //
.section-about {
    height: 100%;
    width: 100%;

    padding: 0 0 5rem 0;

    &.section-header {
        // ## Header Image ## //
        .section-header-image {
            position: absolute;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        // ## Header Icon ## //
        .section-header-icon {
            padding: 6rem 0 2rem 0;
        }
    }

    article {
        padding-bottom: 0;
    }

    .section-description {
        text-align: center;

        h5.description {
            width: 100%;
            margin: 1rem auto 2rem;
            color: $text-green;
            font-weight: $font-weight-semi;
            font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
    }

    &.section-down-arrow:after {
        left: auto;
        right: 6%;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $text-dark-grey 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }

    [filter-color="primary"]{
        background-image: linear-gradient-deg(-35deg, rgba($black-color,.1), rgba(6, 106, 238, .3));
    }

    [data-background-color="dark-grey"] {
        background-color: $text-dark-grey;
        color: $text-green;
    }
}

// ## Section - Projects ## //
.section-projects {
    height: 100%;
    width: 100vw;

    padding: 0 0 5rem 0;

    &.section-header {
        // ## Header Image ## //
        .section-header-image {
            position: absolute;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            z-index: 0;

            // mask-image: linear-gradient(black, white, transparent);
            // -webkit-mask-image: linear-gradient(black, white, transparent);
        }

        // ## Header Icon ## //
        .section-header-icon {
            padding: 6rem 0 2rem 0;
        }
    }

    article {
        padding-bottom: 2rem;
    }

    &[filter-color="primary"]{
        background-image: linear-gradient-deg(-35deg, rgba($black-color,.1), rgba(6, 106, 238, .3));
    }

    &.section-down-arrow:after {
        left: 6%;
        right: auto;
        bottom: -60px;
        content: '';
        position: absolute;
        border-top: $smoke-bg 60px solid;
        border-left: transparent 60px solid;
        border-right: transparent 60px solid;
        z-index: 2;
    }
}

// ## Navbar Overrides ## //
// Fading In / Out Navbar Logo
.app-navbar-logo {
    display: none;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.app-navbar-fade-in {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.dropdown-header:not([href]):not([tabindex]){
    color: $accent-color-opacity;
    font-size: $font-size-small;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}

// ## Icons & Buttons ## //
// TODO: Ad-Hoc - Find Better Solution
.card-footer .svg-inline--fa.fa-lg {
    vertical-align: -0.75em;
}

// ## Background Geo-Shapes ## //
.geo-shape {
    .geo-d4 {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid $primary-color;
    }
    
    .geo-d4-inverted {
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 200px solid $accent-color;
    }
    
    .geo-d6 {
        width: 100px;
        height: 100px;
        background: $accent-color;
    }

    .geo-d8 {
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom: 70px solid $accent-color;
        position: relative;
        top: -50px;

        &.geo-d8:after {
            content: '';
            position: absolute;
            left: -50px;
            top: 70px;
            width: 0;
            height: 0;
            border: 50px solid transparent;
            border-top: 70px solid $accent-color;
        }
    }

    .geo-d10 {
        width: 0;
        height: 0;
        border: 50px solid transparent;
        border-bottom: 20px solid $accent-color;
        position: relative;
        top: -50px;

        &.geo-d10:after {
            content: '';
            position: absolute;
            left: -50px;
            top: 20px;
            width: 0;
            height: 0;
            border: 50px solid transparent;
            border-top: 70px solid $accent-color;
        }
    }

    .geo-d20 {
        width: 100px;
        height: 55px;
        background: $accent-color;
        position: relative;

        &.geo-d20:before {
            content: '';
            position: absolute;
            top: -25px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 25px solid $accent-color;
        }
        &.geo-d20:after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-top: 25px solid $accent-color;
        }
    }
}

// ## Background Colors ## //
[data-background-color="dark-grey"] {
    background-color: $text-dark-grey;
    color: $text-light;
}

[data-background-color="green"] {
    background-color: $text-green;
    color: $text-light;
}

[data-background-color="black"] {
    background-color: $black-bg;
    color: $text-light;
}

footer {
    .copyright { 
        line-height: 2rem;
    }
}

// TODO: Make these extensible by creating _partial files for each animation // 
// ## Animations ## //
// Blinking Icon Set
// TODO: Needs to be completed
.app-icon-blink {
    position: relative;
    
    fa-icon {
        position: relative;
        -webkit-animation-name: blink;
            animation-name: blink;
        -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
        -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
        opacity: 1;
    }

    // Sequential Arrows
    &.app-icon-motion {
        fa-icon:nth-child(1) {
            position: relative;
            -webkit-animation-name: blink;
                animation-name: blink;
            -webkit-animation-duration: 1000ms;
                animation-duration: 1000ms;
            -webkit-animation-delay: 0;
                animation-delay: 0;
            -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            opacity: 1;          
        }

        fa-icon:nth-child(2) {
            position: relative;
            -webkit-animation-name: blink;
                animation-name: blink;
            -webkit-animation-duration: 1000ms;
                animation-duration: 1000ms;
            -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
            -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            opacity: 1;          
        }

        fa-icon:nth-child(3) {
            position: relative;
            -webkit-animation-name: blink;
                animation-name: blink;
            -webkit-animation-duration: 1000ms;
                animation-duration: 1000ms;
            -webkit-animation-delay: 500ms;
                animation-delay: 500ms;
            -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            opacity: 1;          
        }

    }
}

fa-icon.app-icon-blink-inverse {
    position: relative;

    -webkit-animation-name: blink;
        animation-name: blink;
    -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    opacity: 1;
}

// ## Fade-In --
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// ## Fade-Out --
@-webkit-keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

@-moz-keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

@keyframes fadeOut {
    100% { opacity: 1; }
    0% { opacity: 0; }
}

@-webkit-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-moz-keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

// ## Blinking ## //
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

// ## Responsive Overrides ## //
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

// ## Global Filters ## //
// TODO: Refactor `desaturate` class with @keyframes rule
.desaturate-100 {
    filter: grayscale(100%);
    transition: .2s ease-in;

    &:hover {
        filter: grayscale(0%);
    }
}

.saturate-150 {
    filter: saturate(150%);
}

.img-box-shadow {
    box-shadow: $box-shadow-raised;
}

[filter-gradient="primary"] {
    -webkit-mask-image: linear-gradient($black-color, $primary-color, transparent);
    mask-image: linear-gradient($black-color, $primary-color, transparent);
}

[filter-gradient="accent"] {
    -webkit-mask-image: linear-gradient($black-color, $accent-color, transparent);
    mask-image: linear-gradient($black-color, $accent-color, transparent);
}

[filter-gradient="info"] {
    -webkit-mask-image: linear-gradient($black-color, $info-color, transparent);
    mask-image: linear-gradient($black-color, $info-color, transparent);
}

[filter-gradient="green"] {
    -webkit-mask-image: linear-gradient($black-color, $text-green, transparent);
    mask-image: linear-gradient($black-color, $text-green, transparent);
}

// ## Bootstrap Extended ## //
// Layout
.col-xs-5ths, .col-sm-5ths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
}   

.col-md-5ths, .col-lg-5ths {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
